/* 
    Document   : index
    Created on : 20/07/2016, 09:59:06 AM
    Author     : andres
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding: 0;
    margin: 0;
    height: 100%
}

#container-1{
    height: 80%;
    display: block;
    margin: 20px auto;
    width: 880px;
}

#container-2{
    margin-top: 20px;
    height: 20%;
}

#container-a {
    background-color: #088A29;
    width: 460px;
    float: left;
    display: table-header-group;
    margin-right: 20px;
    padding: 20px;
    height: 500px;
}

#container-b {
    background-color: #2E9AFE;
    width: 260px;
    padding: 20px;
    float: left;
    display: table-footer-group;
    height: 180px;
}

#container-c {
    background-color: #0040FF;
    position: absolute;
    padding: 20px;
    top: 580px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#container-a .first-d {
    margin-right: 20px;
}

.d {
    text-align: center;
    float: left;
    width: 220px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    background-color: #0B3B0B;
}

.clear-both{
    clear: both;
}

.white-font {
    color: white;
}


@media only screen and (max-width: 840px) {
    #container-1{
        width: 100%;
        display: table;
        table-layout: fixed;
    }
    
    #container-a {
        display: table-footer-group;
        margin-right: 0px;
        float: none;
        height: 200px;
    }
    
    #container-a > div {
        width: 96%;
        padding: 2%;
        height: 500px;
    }
    
    #container-b > div {
        width: 96%;
        padding: 2%;
        height: 180px;
    }
    
    #container-b{
        display: table-header-group;
        float: none;
    }
    
    .d {
        width: 49%;
    }
    
    #container-a .first-d {
        margin-right: 2%;
    }

    #container-c {
        top: 730px;
    }
}


@media only screen and (max-width: 450px){
    .d {
        width: 96%;
        margin-bottom: 10px;
    }
}
